@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');

html {
  font-family: "BIZ UDPGothic", sans-serif;
  scroll-behavior: smooth;
}

@media (max-width: 768px) { /* Adjust the max-width as needed for your mobile breakpoint */
  nav {
    position: sticky;
    top: 0; /* Adjust this value if you want some space from the top */
    z-index: 10; /* Ensure the nav is above other content */
    /* Add any additional styles for the sticky nav if needed */
  }
}
