@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap');

p {
  font-family: "BIZ UDPGothic", sans-serif;
}

h2 {
    background-color : lightgray ;
}
body {
  background-color: lightblue;
}
